<%- include('layout/header', {title: '微博 - 404', isNav: true}) %>

<div class="container">
  <div class="row">
    <div class="col-8">
      <h4>404</h4>
      <p>该网页未找到，请<a href="/">返回首页</a></p>
    </div>
  </div>
</div>

<%- include('layout/footer') %>